@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-brand-blue dark:bg-dark-bg dark:text-white transition-colors duration-300 antialiased;
  }
}
